.chat-header h2 {
  padding: 0;
  margin: 0;
}
.chatcomp {
  background-color: #787878;
  color: #ffffff;
  height: 650px;
}

.chatbox {
  height: 400px;
  width: 50%;
  margin: auto;
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
}
.left-side-chat {
  display: grid;
  justify-content: flex-start;
  background-color: #14c9b4;
  color: #ffffff;
  height: auto;
  width: fit-content;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-right: 5px;
  text-align: left;
  position: relative;
}
.right-side-chat {
  display: grid;
  background-color: #000000db;
  color: #ffffff;
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  text-align: right;
  position: relative;
}

.msg-inputBox {
  width: 50%;
  margin: auto;
  position: relative;
}

.msg-inputBox input {
  width: 95%;
  display: block;
  padding: 10px 10px;
  margin: 0px;
  outline: none;
}

button.msgSend-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 40px;
  background-color: #000000;
  color: #ffffff;
  border: none;
}
.chatbox button {
  left: 12px !important;
  background-color: aqua !important;
}

.chatbox button:hover {
  background-color: rgb(28 169 171) !important;
  left: 12px !important;
}

p.typing-tag {
  display: flex;
  margin-left: 5px;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  background-color: aliceblue;
  width: fit-content;
  padding: 5px;
}

.typing-div {
  height: 30px;
}

span.chat-date {
  position: absolute;
  bottom: -14px;
  color: #000000;
  font-size: 9px;
}
