.chat-header h2 {
  padding: 0;
  margin: 0;
}
.chatcomp {
  background-color: #787878;
  color: #ffffff;
  height: 650px;
}

.chatbox {
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  color: #000000;
}
.left-side-chat {
  display: grid;
  justify-content: flex-start;
  background: #ddd;
  color: #000;
  height: auto;
  width: fit-content;
  padding: 10px 18px;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-right: 5px;
  text-align: left;
  position: relative;
  border-radius: 7px;
}
.right-side-chat {
  display: grid;
  background: #002f71;
  color: #ffffff;
  height: auto;
  padding: 10px 18px;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  text-align: right;
  position: relative;
  border-radius: 7px;
}

.right-side-chat img,
.left-side-chat img {
  width: 200px;
  height: auto;
}

.msg-inputBox {
  width: 100%;
  margin: auto;
  position: relative;
  height: 47px;
}

.msg-inputBox input {
  width: 95%;
  display: block;
  padding: 10px 10px;
  margin: 0px;
  outline: none;
  border: none;
  border-top: 1px solid #d9d9d9;
}

button.msgSend-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 16px;
  background-color: #e2e2e2;
  color: #000000;
  border: none;
  border-bottom-right-radius: 6px;
}
.chatbox button {
  left: 12px !important;
  background-color: #002f71 !important;
}

.chatbox button:hover {
  background-color: #0646e1 !important;
  left: 12px !important;
}

p.typing-tag {
  display: flex;
  margin-left: 5px;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  background-color: aliceblue;
  width: fit-content;
  padding: 5px;
}

.typing-div {
  height: 30px;
}

span.chat-date {
  position: absolute;
  bottom: -14px;
  color: #000000;
  font-size: 9px;
}

.picker-container {
  position: relative;
}
.emoji-icon {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 79px;
  opacity: 0.6;
  width: 20px;
  height: 20px;
}
.input-style {
  padding: 7px 30px 7px 10px;
  width: calc(100% - 40px);
  border-radius: 3px;
  border: 1px solid #999;
  margin-bottom: 10px;
}

#attchInput {
  display: none;
}

.attachment-icon {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 13px;
  right: 27%;
  cursor: pointer;
}
